<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal Resume Website">
  <meta name="author" content="Mohammad Sheam">
  
  <!-- favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/svg" sizes="16x16">

  <title>Me &amp; Myself</title>


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/resume.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Mohammad Sheam</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='img/profile.jpg') }}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#project">Projects</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Mohammad
          <span class="text-primary">Sheam</span>
        </h1>
        <div class="subheading mb-5">Mymensingh Sadar · Mymensingh · Bangladesh ·
          <a href="mailto:mohammadsheam@gmail.com">mohammadsheam@gmail.com</a>
        </div>
        <p class="lead mb-5 text-justify">I am a programming enthusiast. Love to learn and be steady with them. I have been struggling to improve my skills from <b class="text-warning">novice</b> to <b class="text-success">intermediate</b> over practicing and problem-solving. More often, I have passed sometimes some coding grounds like - <a href="https://www.urionlinejudge.com.br/judge/en/profile/62420" target="__blank"><u>URI</u></a>, <a href="https://uhunt.onlinejudge.org/id/528735" target="__blank"><u>UVA</u></a>, <a href="https://www.hackerrank.com/mohammadsheam?hr_r=1" target="__blank"><u>HackerRank</u></a>, <a href="https://www.spoj.com/users/mohammadsheam/" target="__blank"><u>Spoj</u></a> and so on.
            I have completed my graduation from Jessore University of Science & Technology in Computer Science and Engineering.

            I would like to see myself as a Software Engineer. Any enthusiast software team can be a bridge between my passion and utilize my knowledge for myself also for the organization and gain quality experience.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/mohammadsheam/" target="__blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/mohamadsheam" target="__blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/MohammadSheam" target="__blank"> 
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/mohammad.sheam" target="__blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Junior Web Developer</h3>
            <div class="subheading mb-3"><a href="http://www.freelanceitlab.com/" target="__blank"> Freelance IT Lab </a></div>
            <p>I have joined as a Junior Web Developer at Freelance IT Lab. Currently working here.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary weight-600">October 2017 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Web Developer</h3>
            <div class="subheading mb-3">Online Market Place</div>
            <p>I have gained some experience in Online Market Place. Successfully met my client's satisfaction and gain awesome experience.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary weight-600">December 2011 - March 2013</span>
          </div>
        </div>        

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><a href="https://just.edu.bd/" target="__blank">Jessore University of Science & Technology</a></h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science & Engineering</div>
            <p>During my journey to Bachelor Degree, I have come to know some essentials courses like - <span class="text-primary">Data Structure</span>, <span class="text-primary">Algorithm</span>, <span class="text-primary">Database Management</span>  and so on.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary weight-600">January 2013 - September 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Shahid Syed Nazrul Islam College</h3>
            <div class="subheading mb-3">Higher Secondary Certificate</div>
            <p>I have successfully acquired my Higher Secondary Certificate from this reputed college.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary weight-600 ">June 2010 - June 2012</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-vuejs"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-database"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Proper Database Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Ensure Security &amp; Safety</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Mange Version Control </li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a software developer, I enjoy most of my time being outdoors. I like to explore a new place. I like to keep good relations with relatives and meet new people.</p>
        <p>When forced indoors, I like to read books, comics, play pc-game, cooking food and I spend a large amount of my free time exploring the latest technology advancements around the world.</p>
        <p class="mb-0">I have included myself as a volunteer from 2010. I have taken part in many socials welfare events as a volunteer. Recently working with <a href="https://bidyanondo.org/" target="__blank" ><b>Bidyanondo</b></a></p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="project">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <p class="subheading mb-3"><span class="text-success">Developed</span>  &amp; <span class="text-info">Ongoing</span></p>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#" target="__blank" class="text-success">Department Result Processing </a> - HTML, CSS, PHP, ORACLE-11g</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#" target="__blank" class="text-success">E-commerce </a> - Bootstrap, Jquery, AngularJs, PHP, MySQL</li>
          <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#" class="text-info">Daily Newspaper</a> - Bootstrap, AngularJs, PHP, MySQL</li>
          <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#" class="text-info">ERP</a> - Bootstrap, AngularJs, PHP, MySQL</li>
          <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="#" class="text-info">School/College Management</a> - Bootstrap, VueJs, Python, PostgreSQL</li>
          
        </ul>
      </div>
    </section>

  </div>

  <footer>
    <div class="footer-main">
      <p>© 2019, <a href="http://sheam.me" style="color: #06d64f">sheam.me</a></p>

      <div class="footer-social">
        <a class="nav-link js-scroll-trigger" href="#about" >About</a>
        <a class="nav-link js-scroll-trigger" href="#experience" >Experience</a>
        <a class="nav-link js-scroll-trigger" href="#education" >Education</a>
        <a class="nav-link js-scroll-trigger" href="#skills" >Skills</a>
        <a class="nav-link js-scroll-trigger" href="#interests" >Interests</a>
        <a class="nav-link js-scroll-trigger" href="#project" >Projects</a>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }} "></script>
  <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/resume.min.js') }}"></script>

</body>

</html>
